@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-sm-12 col-md-7 col-lg-7 col-xl-7 mb-5 pl-5 pr-5">
            <iframe width="99%" height="440" src="https://www.youtube.com/embed/rxLEQsBkXTg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
        </div>
        <div class="col-sm-12 col-md-5 col-lg-5 col-xl-5 pl-0">
            <div class="row mb-4">
                <div class="col-5 col-img">
                    <img src="/Image/Strawberry-Marine-Collagen.png" class="img-new" alt="" />
                </div>
                <div class="col-7 col-txt pr-5">
                    <h5>Nuevo Colágeno Marino Sabor a Fresa con Vitamina C</h5>
                    <p>La combinación de la vitamina C con el colágeno es ideal, ya que la vitamina C ayuda a la producción de colágeno, a fortaceler el 
                        sistema inmunológico y reduce la sensación de fatiga. Todo ello contenido en un delicioso batido con sabor a fresa.
                    </p>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-5 col-img">
                    <img src="/Image/Bio-Latte-Vanilla-Matcha.png" class="img-new" alt="" />
                </div>
                <div class="col-7 col-txt pr-5">
                    <h5>Nuevo Té Matcha con Sabor a Vainilla</h5>
                    <p>Simplemente vierta agua caliente y estará listo para disfrutar de la energía que proporciona el matcha, ahora saborizado con extracto 
                        de vainilla. Ya deje el café y comience un viaje con el matcha y todos sus beneficios. Elaborado con matcha premium.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<style>

    .col-img {
        text-align: center;
        margin-top: 0
    }

    .col-txt {
        text-align: justify;
    }

    .img-new {
        height: 217px;
        padding-top: 0
    }
</style>


